ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.selected {
    background-color: #ccc;
}
.video-list__list-item {
    margin-bottom: 10px;
}

.video-list {
}
.video-list__list {
}
.video-list__selected-video {
}

.video-list__list ul  {
    background: inherit;
    font-size: inherit;
}