<div class="video-list">
  <div class="video-list__list">
    <h2>Video List</h2>
    <ul class="">
      <li *ngFor="let video of videos"
          class="video-list__list-item"
          [class.selected]="isSelected(video)">
        <app-video-list-item (click)="selectVideo(video)"
                             
                             [video]="video">
        </app-video-list-item>
      </li>
      <li>
        <button (click)="unselectAll()">Unselect All</button>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedVideo" class="video-list__selected-video">
      <h3>Selected Video</h3>
      <h4>{{ selectedVideo.title }}</h4>
  </div>
  
  <div style="clear:both"></div>
</div>
